<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDSRouter">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:3332/DSRouter.DSRouterService/DSRouterService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDSRouter"
                contract="DSRouterService.IDSRouter" name="NetTcpBinding_IDSRouter" />
        </client>
    </system.serviceModel>
</configuration>